
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
	/**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.wrap {
  	overflow: hidden;
	}

	.content__group.content__group_1,
	.content__group.content__group_2 {
		width: 100%;
	}
	.stat__group.stat__group_1 {
		display: block;
	}
	.stat__buttons {
	    width: 100%;
	    justify-content: space-between;
			margin-top: 10px;
	}
	.stat__but {
		width: 100%;
	}
	.stat__group.stat__group_2 {
		flex-direction: column;
	}
	.stat__info {
		flex-direction: row;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/**/
	.burger {
		display: flex;
	}
	.menu__items {
		background: #fff;
		display: block;
		position: absolute;
		width: 100%;
		z-index: 1000;
		max-height: 0px;
		overflow: hidden;
	}
}

@media only screen and (max-width : 600px) {
	/**/
	.content-box {
		padding: 10px;
	}
	.reports__items {
		display: flex;
    flex-wrap: wrap;
    gap: 10px;
	}
	.report-box {
		width: 40%;
		flex-grow: 2;
	}
	.header-title {
		font-size: 20px;
	}

	.like-item {
		padding: 10px 20px;
	}

	.breadcrumbs__item {
		display: none;
	}
	.breadcrumbs__item:first-child,
	.breadcrumbs__item:last-child {
		display: block;
	}

	.progress {
		flex-direction: column;
		gap: 10px;
		align-items: baseline;
	}

	.progress__wrap:before {
		display: none;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/**/
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/**/

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/**/

}


/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	/**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/**/
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

@media screen and (max-device-width: 1023px){
	.table_sales{
		width: 1024px;
		
	}
	.l2_sales,.l3_sales{
		overflow: scroll;
	}

	.a_stat{
		flex-direction: column;
		justify-content: flex-start;
	}

	.table_md{
		width: 1024px;
	}
	.table_down_a2{
		width: 1024px;
	}

	.table_new_wrap{
		overflow: scroll;
	}

	.t2_low_ue_cont{
		overflow: scroll;
	}
	
}

@media screen and (max-device-width: 1535px){
	.comparison_prs{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	.comp_my,.comp_other{
		width: 100%;
		overflow: scroll;
	}

	.table_new_wrap{
		width: 100%;
	}
}

@media screen and (max-device-width: 1279px){
	.news_orders_line{
	  flex-direction: column;
	  width: 100%;
	}

	.table_sales{
		overflow: scroll;
		/* width: 100%; */
	}

	.news_main,.orders_main{
		width: 100%;
	}
	.table_down_a2{
		margin-top: 2rem;
	}

	.graf_infoPr_a2{
		flex-direction: column;
		justify-content: flex-start;
	}

	.infoPr_a2,.graf_a2{
		width: 100%;
		justify-content: flex-start;
		margin-bottom: 1rem;
	}
  }

  @media screen and (max-device-width: 767px){
	
	.news_main,.orders_main{
		height: auto;
	}
	.u_titles{
		flex-direction: column;
		justify-content: flex-start;
	}
	/* *{
		flex-wrap: wrap;
	} */
  }

